MarketingDepartment/marketing-esb/src/main/mule/marketing-esb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_configESB" doc:name="HTTP Listener config" doc:id="bd3ac09a-868a-41da-b4d0-c7c79db896a6" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config1" doc:name="Web Service Consumer Config" doc:id="91ed9dcc-849b-413a-a2d7-b1c641185f3e" >
		<wsc:connection wsdlLocation="AdvertisementService.wsdl" service="AdvertisementService" port="AdvertisementServicePort" address="http://localhost:8081/advertisementService" />
	</wsc:config>
	<wsc:config name="Web_Service_Consumer_Config2" doc:name="Web Service Consumer Config" doc:id="4e7ff937-b1e4-4c1e-ab87-e3999a3b4e3b" >
		<wsc:connection wsdlLocation="AnalysisService.wsdl" service="MarketingAnalysisService" port="MarketingAnalysisServicePort" address="http://localhost:8083/marketingAnalysisService" />
	</wsc:config>
	<flow name="marketingdepartmentesbFlow" doc:id="8d14fc88-44cf-4c97-ba44-036a3b5cc556" >
		<http:listener doc:name="Listener" doc:id="d1443315-d24c-43eb-95f4-d5baef2323be" config-ref="HTTP_Listener_configESB" path="/marketing"/>
		<set-variable value="#[attributes.queryParams.adId default '123']" doc:name="Set adId Variable" doc:id="3dcfe0e3-baa0-4a88-9666-86ded08fbee1" variableName="adId"/>
		<wsc:consume doc:name="Call Advertisement Service" doc:id="ef5977ee-98f7-40ff-adeb-b5b55cdf2cd1" config-ref="Web_Service_Consumer_Config1" operation="getAdvertisement">
			<wsc:message >
				<wsc:body ><![CDATA[#[output application/xml
ns ns0 http://example.com/advertisement
---
{
	ns0#getAdvertisementRequest: {
		adId: vars.adId
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<set-payload value='#[%dw 2.0&#10;ns ns0 http://example.com/advertisement&#10;---&#10;{&#10;	 "campaignId": "CAMPAIGN-001",&#10;	 "advertisementTitle": payload.body.ns0#getAdvertisementResponse.adTitle,&#10;	 "advertisementContent": payload.body.ns0#getAdvertisementResponse.adContent&#10; }]' doc:name="Prepare Marketing Analysis Request" doc:id="d23d3ce0-26f3-43a5-b47b-8debd4054ff3" />
		<wsc:consume doc:name="Call Marketing Analysis Service" doc:id="53e5db75-2bc5-4f9c-b8c3-dbcfef3af200" config-ref="Web_Service_Consumer_Config2" operation="analyzeCampaign">
			<wsc:message >
				<wsc:body ><![CDATA[#[output application/xml
ns ns0 http://example.com/marketinganalysis
---
{
	ns0#analyzeCampaignRequest: {
		campaignId: payload.campaignId,
		advertisementTitle: payload.advertisementTitle,
		advertisementContent: payload.advertisementContent
	}
}]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<logger level="INFO" doc:name="Log Response" doc:id="915ab1e2-13d8-4428-9617-aa23f364d46a" message="Final marketing analysis result: #[payload.analysisResult]"/>
		<set-payload value="#[%dw 2.0&#10;ns ns0 http://example.com/marketinganalysis&#10;---&#10;payload.body.ns0#analyzeCampaignResponse.analysisResult]" doc:name="Set HTTP response" doc:id="132cd14c-70a4-432c-9446-fd4181e00e5b" />
	</flow>
</mule>
